<?xml version="1.0" encoding="utf-8" ?>

<log4net>

	<logger name="ApiEvent">
		<level value="info" />
		<appender-ref ref="ApiEventLog" />
	</logger>

	<logger name="Event">
		<level value="info" />
		<appender-ref ref="EventLog" />
	</logger>

	<logger name="Protocol">
		<level value="info" />
		<appender-ref ref="ProtocolLog" />
	</logger>
	<logger name="Status">
		<level value="info" />
		<appender-ref ref="StatusLog" />
	</logger>
	<logger name="CommandController">
		<level value="info" />
		<appender-ref ref="CommandControllerLog" />
	</logger>



	<logger name="MQTT">
		<level value="info" />
		<appender-ref ref="MQTTLog" />
	</logger>

	<logger name="Test">
		<level value="info" />
		<appender-ref ref="TestLog" />
	</logger>



	<!--<logger name="Console">
		<appender-ref ref="ColoredConsole" />
	</logger>

	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%date %m%n" />
		</layout>
	</appender>-->

	<appender name="ApiEventLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'_ApiEvent.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="EventLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'_Event.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="ProtocolLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'_Protocol.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="StatusLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'Status.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="CommandControllerLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'CommandController.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="TestLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'_Test.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%t] %-5p - %m%n" />
		</layout>
	</appender>


	<appender name="MQTTLog" type="log4net.Appender.RollingFileAppender">
		<file value="\Log\ACS\Elevator1\" />
		<appendtofile value="true" />
		<datepattern value="yyyy-MM-dd\\\\yyyy-MM-dd'_MQTT.log'" />
		<staticlogfilename value="false" />
		<rollingstyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionpattern value="%d [%02t] %-5p - %m%n" />
		</layout>
	</appender>
	
</log4net>